<span id="productList">
  <h2>Products</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>CTA Share</th>
    <th>CTA Alert Price</th>
  </tr>
  <tr *ngFor="let product of products; index as productId">
    <th class="name_product" [title]="product.name + ' details'" [routerLink]="['/products', productId]">{{product.name}}</th>
    <th>{{product.price}} €</th>
    <th>{{product.description}}</th>
    <th>
      <button (click)="share()">
          Share
      </button>
    </th>
    <th>
      <app-product-alert
        (notify)="onNotify()"
        [product]="product">
      </app-product-alert>
    </th>
  </tr>
</table>
</span>
<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
